:root{
    --primary: #78350F;
    --secondary: #0F172A;
    --tertiary: #FEF3C7;
    --quaternary:#FDE68A;
    --footerText: #E2E8F0;
    --sub-text: #475569;
    --white: #FFFFFF;
    --black: #000000;
}


body {
    font-family: "Roboto", sans-serif !important;
    font-style: normal !important;
}
a {
    text-decoration: none !important;
}
h2{
    font-size: 56px !important;
    line-height: 62px !important;
}
 
.roboto-100 {
    font-weight: 100 !important;
}
.roboto-300 {
    font-weight: 300 !important;
}
.roboto-400 {
    font-weight: 400 !important;
}
.roboto-500 {
    font-weight: 500 !important;
}
.roboto-700 {
    font-weight: 700 !important;
}
.roboto-800 {
    font-weight: 800 !important;
}
.roboto-900 {
    font-weight: 900 !important;
}
.gap-16 {
    gap: 16px;
}
.gap-16-v {
    column-gap: 16px;
}
.gap-32{
    gap: 32px;
}
.gap-80 {
    gap: 80px;
}


.shadowed {
    -webkit-filter: drop-shadow(0px 25px 50px 12px #00000040);
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
