html,
body {
  margin: 0 auto !important;
  padding: 0 !important;

}

body {
  /* background: linear-gradient(135deg, #fed97580, #fa7e1e80, #d6297680, #962fbf80, #4f5bd580, #4a9cdf80, #56c8d880, #f6e2c280); */
  background: linear-gradient(135deg, #0e1016, #0e1016, #101117, #15151c, #1c1924, #1c1924, #1c1d2a, #202734, #222f3e,#203645);
  background-size: 1000% 1000%;
  animation: gradientAnimation 5s ease infinite;
  font-family: 'Poppins', sans-serif !important;

}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.alert {
  width: fit-content;
  margin-top: 5px;
}


.head {
  margin: 3rem 0;
}


#quiz{
  display: none;
}


#start-button{
  width: 147px;
}


.qiuz-button> button{
  width: 147px;
}
.choices {
  list-style-type: none;
  padding: 0;
}

.choice {
  cursor: pointer;
  margin-bottom: 10px;
}

#result-container {
  display: none;
  margin: 1.3rem auto;
}
#result-container > * {
  margin: auto 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


/* Mobil device*/
@media only screen and (max-width: 768px) {
  .config-button {
    display: flex;
    justify-content: center;
  }
}
